body{
    background-color: rgba(230, 178, 2247, 0.4);
}

div1{
    align-items: center;
}


pSelect{
    font-size: 2.5vw;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;

}

pCurrent{
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}




pHeader{
    font-size: 4vw;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

#textCenter{
    text-align: center;
    top: 50%;
    background-color: rgba(230, 178, 2247, 0.4);
    border-bottom: 0.25rem solid rgba(230, 178, 2247, 0.4);
}




#barBorder{
    text-align: center;
    background-color: rgba(230, 178, 2247, 0.4);
    border-bottom: 0.25rem solid rgba(230, 178, 2247, 0.4);
    border-left: 0.125rem solid rgba(230, 178, 2247, 0.4);
    border-right: 0.125rem solid rgba(230, 178, 2247, 0.4);
    border-top: hidden;
}

#barBorder:hover{
    background-color: rgba(230, 178, 2247, 0.4);
}


#textStyle{
    margin: 3rem;
    font-size: 2.5vw;
    font-weight: bold;
    font-family:  'Times New Roman', Times, serif;
}

#marginSpacing{
    margin-top: 2rem;
}



.centerText{
    text-align: center;
}


.imageCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumStyle{
    margin: 3rem;
    font-size: 2vw;
    font-weight: bold;
    font-family:  'Times New Roman', Times, serif;
}



