body{
    background-color: rgb(233, 234, 242);
}


#header{
    font: normal bold Arial 200rem;
    background-color: rgba(242,247,247, 0.5);
}

.hmtl{
    font : 10px;
}

.headerFont{
    font : 100px;
}